<p id="notice"><%= notice %></p>

<h1>Exercise Records</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Exercise</th>
      <th>Num reps</th>
      <th>Weight</th>
      <th>Num sets</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercise_records.each do |exercise_record| %>
      <tr>
        <td><%= exercise_record.user_id %></td>
        <td><%= exercise_record.exercise_id %></td>
        <td><%= exercise_record.num_reps %></td>
        <td><%= exercise_record.weight %></td>
        <td><%= exercise_record.num_sets %></td>
        <td><%= link_to 'Show', exercise_record %></td>
        <td><%= link_to 'Edit', edit_exercise_record_path(exercise_record) %></td>
        <td><%= link_to 'Destroy', exercise_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercise Record', new_exercise_record_path %>
