<%= form_with(model: exercise_muscle, local: true) do |form| %>
  <% if exercise_muscle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise_muscle.errors.count, "error") %> prohibited this exercise_muscle from being saved:</h2>

      <ul>
      <% exercise_muscle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :e_id %>
    <%= form.number_field :e_id %>
  </div>

  <div class="field">
    <%= form.label :m_id %>
    <%= form.number_field :m_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
