<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @meal_record.user_id %>
</p>

<p>
  <strong>Meal:</strong>
  <%= @meal_record.meal_id %>
</p>

<p>
  <strong>Num servings:</strong>
  <%= @meal_record.num_servings %>
</p>

<%= link_to 'Edit', edit_meal_record_path(@meal_record) %> |
<%= link_to 'Back', meal_records_path %>
