<%= form_with(model: meal, local: true) do |form| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :serving_size %>
    <%= form.text_field :serving_size %>
  </div>

  <div class="field">
    <%= form.label :kcal %>
    <%= form.number_field :kcal %>
  </div>

  <div class="field">
    <%= form.label :total_fat %>
    <%= form.number_field :total_fat %>
  </div>

  <div class="field">
    <%= form.label :sat_fat %>
    <%= form.number_field :sat_fat %>
  </div>

  <div class="field">
    <%= form.label :polyun_fat %>
    <%= form.number_field :polyun_fat %>
  </div>

  <div class="field">
    <%= form.label :monoun_fat %>
    <%= form.number_field :monoun_fat %>
  </div>

  <div class="field">
    <%= form.label :cholesterol %>
    <%= form.number_field :cholesterol %>
  </div>

  <div class="field">
    <%= form.label :sodium %>
    <%= form.number_field :sodium %>
  </div>

  <div class="field">
    <%= form.label :potassium %>
    <%= form.number_field :potassium %>
  </div>

  <div class="field">
    <%= form.label :total_carb %>
    <%= form.number_field :total_carb %>
  </div>

  <div class="field">
    <%= form.label :fiber %>
    <%= form.number_field :fiber %>
  </div>

  <div class="field">
    <%= form.label :sugar %>
    <%= form.number_field :sugar %>
  </div>

  <div class="field">
    <%= form.label :protein %>
    <%= form.number_field :protein %>
  </div>

  <div class="field">
    <%= form.label :vitamin_a %>
    <%= form.number_field :vitamin_a %>
  </div>

  <div class="field">
    <%= form.label :calcium %>
    <%= form.number_field :calcium %>
  </div>

  <div class="field">
    <%= form.label :vitamin_d %>
    <%= form.number_field :vitamin_d %>
  </div>

  <div class="field">
    <%= form.label :vitamin_c %>
    <%= form.number_field :vitamin_c %>
  </div>

  <div class="field">
    <%= form.label :iron %>
    <%= form.number_field :iron %>
  </div>

  <div class="field">
    <%= form.label :magnesium %>
    <%= form.number_field :magnesium %>
  </div>

  <div class="field">
    <%= form.label :cobalamin %>
    <%= form.number_field :cobalamin %>
  </div>

  <div class="field">
    <%= form.label :vitamin_b6 %>
    <%= form.number_field :vitamin_b6 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
