<p id="notice"><%= notice %></p>

<h1>Meals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Serving size</th>
      <th>Kcal</th>
      <th>Total fat</th>
      <th>Sat fat</th>
      <th>Polyun fat</th>
      <th>Monoun fat</th>
      <th>Cholesterol</th>
      <th>Sodium</th>
      <th>Potassium</th>
      <th>Total carb</th>
      <th>Fiber</th>
      <th>Sugar</th>
      <th>Protein</th>
      <th>Vitamin a</th>
      <th>Calcium</th>
      <th>Vitamin d</th>
      <th>Vitamin c</th>
      <th>Iron</th>
      <th>Magnesium</th>
      <th>Cobalamin</th>
      <th>Vitamin b6</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <td><%= meal.name %></td>
        <td><%= meal.serving_size %></td>
        <td><%= meal.kcal %></td>
        <td><%= meal.total_fat %></td>
        <td><%= meal.sat_fat %></td>
        <td><%= meal.polyun_fat %></td>
        <td><%= meal.monoun_fat %></td>
        <td><%= meal.cholesterol %></td>
        <td><%= meal.sodium %></td>
        <td><%= meal.potassium %></td>
        <td><%= meal.total_carb %></td>
        <td><%= meal.fiber %></td>
        <td><%= meal.sugar %></td>
        <td><%= meal.protein %></td>
        <td><%= meal.vitamin_a %></td>
        <td><%= meal.calcium %></td>
        <td><%= meal.vitamin_d %></td>
        <td><%= meal.vitamin_c %></td>
        <td><%= meal.iron %></td>
        <td><%= meal.magnesium %></td>
        <td><%= meal.cobalamin %></td>
        <td><%= meal.vitamin_b6 %></td>
        <td><%= link_to 'Show', meal %></td>
        <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
        <td><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meal', new_meal_path %>
