<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meal.name %>
</p>

<p>
  <strong>Serving size:</strong>
  <%= @meal.serving_size %>
</p>

<p>
  <strong>Kcal:</strong>
  <%= @meal.kcal %>
</p>

<p>
  <strong>Total fat:</strong>
  <%= @meal.total_fat %>
</p>

<p>
  <strong>Sat fat:</strong>
  <%= @meal.sat_fat %>
</p>

<p>
  <strong>Polyun fat:</strong>
  <%= @meal.polyun_fat %>
</p>

<p>
  <strong>Monoun fat:</strong>
  <%= @meal.monoun_fat %>
</p>

<p>
  <strong>Cholesterol:</strong>
  <%= @meal.cholesterol %>
</p>

<p>
  <strong>Sodium:</strong>
  <%= @meal.sodium %>
</p>

<p>
  <strong>Potassium:</strong>
  <%= @meal.potassium %>
</p>

<p>
  <strong>Total carb:</strong>
  <%= @meal.total_carb %>
</p>

<p>
  <strong>Fiber:</strong>
  <%= @meal.fiber %>
</p>

<p>
  <strong>Sugar:</strong>
  <%= @meal.sugar %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @meal.protein %>
</p>

<p>
  <strong>Vitamin a:</strong>
  <%= @meal.vitamin_a %>
</p>

<p>
  <strong>Calcium:</strong>
  <%= @meal.calcium %>
</p>

<p>
  <strong>Vitamin d:</strong>
  <%= @meal.vitamin_d %>
</p>

<p>
  <strong>Vitamin c:</strong>
  <%= @meal.vitamin_c %>
</p>

<p>
  <strong>Iron:</strong>
  <%= @meal.iron %>
</p>

<p>
  <strong>Magnesium:</strong>
  <%= @meal.magnesium %>
</p>

<p>
  <strong>Cobalamin:</strong>
  <%= @meal.cobalamin %>
</p>

<p>
  <strong>Vitamin b6:</strong>
  <%= @meal.vitamin_b6 %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
